body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
    background-color: #f4f4f4;
   
}

.form-container {
    background-color: rgb(151, 205, 226);
    padding: 80px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #090b8d;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #16149e;
}

#error-message {
    color: red;
    font-size: 0.9em;
}
